@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:wght@300;400;600;700&display=swap");
:root {
    --font: "Noto Sans JP", sans-serif;
    --roboto: "Roboto", sans-serif;
    --common-green: rgb(0, 173, 66);
    --titilium: "Titillium Web", sans-serif;
    --compt-transition: all 0.3s linear;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
h1,
h2 {
    font-family: var(--roboto);
}
.main-body-container {
    font-family: var(--font);
}

body {
    background-color: var(--compt-primary-bg-color);
    overflow-x: hidden;
}
.comparrot_primary_menu_container ul {
    list-style-type: none;
}
.comparrot_primary_menu_container a {
    text-decoration: none;
    color: var(--compt-nav-color);
    -webkit-transition: var(--compt-transition);
    -o-transition: var(--compt-transition);
    transition: var(--compt-transition);
    font-weight: 600;
}
.comparrot_primary_menu a:hover {
    color: var(--compt-nav-hover-color);
}
.comparrot_primary_menu li.current-menu-item a {
    color: var(--compt-nav-active-color);
}

a {
    text-decoration: none;
    color: var(--compt-link-color);
}
.site-logo a {
    color: var(--compt-nav-color);
    text-decoration: none;
}

.compt-page-breadcrumb {
    margin: 20px 0;
    font-size: 17px;
}
.compt-page-breadcrumb ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.compt-page-breadcrumb li {
    /* margin-right: 8px; */
}
.compt-page-breadcrumb li:not(:last-child)::after {
    content: ">>";
    margin: 0 5px;
    font-size: 0.8em;
    color: rgb(83, 83, 83);
}
.compt-page-breadcrumb li:not(:last-child):hover {
    /* transition: var(--compt-transition); */
    font-weight: bold;
}
.compt-page-breadcrumb li:last-child {
    font-weight: bold;
}

/* Comparrot buttons */
.cp-button {
    padding: 10px 40px;
    border-radius: 2px;
    border-bottom-right-radius: 15px;
    background-color: rgb(103, 221, 118);
    color: white;
    margin-right: 10px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cp-button:hover {
    color: rgb(91, 223, 91);
    background-color: white;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
}
.cp-button i {
    margin-right: 10px;
}

/* Ripple effect */
.ripple {
    position: relative;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow: hidden;
}
.ripple:after {
    content: "";
    background: rgb(103, 221, 118);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -40px !important;
    margin-top: -120%;
    opacity: 0;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.ripple:active:after {
    border-radius: 50%;
    padding: 0;
    margin: 0;
    opacity: 0.5;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.shad {
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    cursor: pointer;
    display: inline-block;
}
.shad:hover {
    z-index: 1000;
    -webkit-box-shadow: 0 0 6px rgb(35 173 255) !important;
    box-shadow: 0 0 6px rgb(35 173 255) !important;
    -webkit-box-shadow: 0 0 6px rgb(91, 223, 91) !important;
    box-shadow: 0 0 6px rgb(91, 223, 91) !important;
    border: none;
}

.green-line {
    border: none;
    display: block;
    height: 4px;
    width: 120px;
    background-color: #5bba6f;
}
.white-line {
    border: none;
    display: block;
    height: 3px;
    width: 120px;
    background-color: white;
}
.compt-background-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #d3e7fe;
    opacity: 0.95;
    z-index: 100;
    top: 0;
}
.compt-cta-background-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-image: -o-linear-gradient(190deg, #366ab1c9 0%, #2f80ed 82%);
    background-image: linear-gradient(260deg, #366ab1c9 0%, #2f80ed 82%);
    opacity: 0.95;
    z-index: 100;
    top: 0;
}
.breadcrumb-col {
    z-index: 200;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.compt-page-identity * {
    color: #233064 !important;
}
.compt-page-identity {
    height: 400px;
    background-color: #d3e7fe;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 !important;
    font-family: var(--roboto);
    background-position: center left;
    position: relative;
    padding-top: 30px;
    padding-bottom: 90px;
    overflow: hidden;
    height: 505px;
}
/* Bottom shape */
.compt-shape {
    position: absolute;
    bottom: 0;
    width: 100%;
    fill: #fff;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    padding: 0 !important;
    z-index: 300;
}

/* Ended */
.compt-page-identity a {
    color: inherit;
    font-family: var(--roboto);
    text-decoration: none;
}

.compt-page-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    padding: 0 0;
    font-size: 0.8em;
}
.compt-page-meta .meta-item {
    margin-right: 20px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 17px;
    color: inherit;
    font-weight: 400;
}
.compt-page-meta .meta-item i {
    color: #5bba6f !important;
    margin-right: 8px;
}

@media only screen and (min-width: 768px) {
    .site-logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 30px;
    }
    .site-logo h1 {
        font-size: 2em;
    }

    .comparrot_primary_menu_container {
        z-index: 10000;
        height: 100%;
        display: inline-block !important;
        font-size: 18px;
    }
    .comparrot_primary_menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
    }
    /* Level one menu item */
    .comparrot_primary_menu > li {
        padding: 30px 15px;
        position: relative;
    }
    .comparrot_primary_menu > li > ul {
        /* background-color: var(--common-green); */
        background-color: white;
        position: absolute;
        top: -100%;
        display: none;
        width: 200px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        z-index: 999;
    }
    .comparrot_primary_menu > li:hover > ul {
        top: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    /* Level two menu item */
    .comparrot_primary_menu > li > ul > li {
        padding: 5px;
    }

    .nav-toggler {
        display: none;
    }

    .compt-page-title {
        font-size: 58px !important;
        font-weight: bold;
        padding: 10px 0 !important;
        margin: 0 !important;
    }
}

@media only screen and (max-width: 768px) {
    .site-logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 10px;
    }
    .site-logo h1 {
        font-size: 1.3em;
    }
    .comparrot_primary_menu_container {
        z-index: 10000;
        height: auto;
        width: 100vw;
        position: absolute;
        left: 0;
        top: 100%;
        display: none;
        background-color: var(--compt-primary-bg-color);
    }
    .comparrot_primary_menu > li {
        padding: 8px 15px;
        position: relative;
        background-color: var(--compt-secondary-bg-color);
        margin: 1px 0;
    }
    .comparrot_primary_menu > li > ul {
        background-color: greenyellow;
        /* position: absolute; */
        /* top: 100%; */
        /* display: none; */
    }
    .comparrot_primary_menu > li:hover > ul {
        top: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    /* Level two menu item */
    .comparrot_primary_menu > li > ul > li {
        padding: 8px 15px;
        background-color: var(--compt-secondary-bg-color);
    }
    .comparrot_primary_menu a {
        font-size: 0.9em;
    }
    .nav-toggler {
        height: 100%;
        padding: 10px;
        font-size: 1.5em;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: 20px;
    }
    .author-row {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-flow: column !important;
        flex-flow: column !important;
    }
    .toc-section {
        margin: 20px auto 20px auto;
    }

    .interlink-section {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .interlink-section > .container {
        width: 80vw;
    }

    .interlink-col {
        margin: 10px 0 !important;
    }
}

/* Layout parts */
.compt-page-content {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* padding: 20px 0; */
}
.compt-page-content .sidebar {
    /* width: 400px; */
}
.compt-page-content .content {
    margin-top: 50px;
    word-break: break-word;
}
.compt-page-content .content > div {
    /* margin-top: 30px; */
}

/* Author layouts */

.compt-author-block {
    /* width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column; */
}

.compt-author-block .avatar {
    height: auto;
    width: 200px;
}
.compt-page-content .wp-post-image {
    width: auto;
    height: auto;
}
.author-bio {
    /* padding: 20px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* width: 100%; */
}
.author-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.avatar {
    border-radius: 50%;
}
.author-description {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding: 0 30px;
}
.author-description .author-sub-row {
    width: 100%;
}
.author-description .author-sub-row:last-child {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10px 0;
    margin: 10px 0;
}
.author-bio {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    max-width: 500px;
    background-color: #fbfdff;
}
.author-social {
}
.author-social ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.author-social li a {
    padding: 0 10px;
}
.author-social i {
    color: var(--common-green) !important;
    font-size: 1.2em;
}
.author-description h2 a {
    font-size: 1.5em;
    color: black;
    text-decoration: none;
}
.author-description > * {
    padding: 5px 0;
}
.author-sub-title {
    color: #aaa;
    font-size: 0.8em;
}
.social-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.social-share > div {
    border-radius: 5px;
}
.social-share > div:hover {
    opacity: 0.8;
    -webkit-transition: var(--compt-transition);
    -o-transition: var(--compt-transition);
    transition: var(--compt-transition);
}
.social-share .facebook {
    background-color: rgb(19, 62, 117);
}
.social-share .twitter {
    background-color: rgb(58, 156, 218);
}
.social-share .linkedin {
    background-color: steelblue;
}
.social-share a {
    border-radius: 8px;
    display: inline-block;
    padding: 10px 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    text-decoration: none;
}
.social-share a:hover {
    color: white !important;
}
.social-share a i {
    margin-right: 10px;
    color: white;
}
.social-share > div:not(:last-child) {
    margin-right: 5px;
}
/* .author-row:first-child {
    margin: 10px 0;
} */
.author-rating,
.author-bio {
    border: 1px dotted #aed6ee;
}
.author-rating {
    background: rgb(128, 137, 140);
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(50%, rgba(128, 137, 140, 1)),
        color-stop(50%, rgba(121, 129, 132, 1))
    );
    background: -o-linear-gradient(
        left,
        rgba(128, 137, 140, 1) 50%,
        rgba(121, 129, 132, 1) 50%
    );
    background: linear-gradient(
        90deg,
        rgba(128, 137, 140, 1) 50%,
        rgba(121, 129, 132, 1) 50%
    );
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    padding: 0 !important;
}
.author-rating > * {
    width: 100%;
}
.author-rating i {
    color: #ffcc00;
    font-size: 8em;
}
.author-rating h2 {
    color: rgba(255, 255, 255, 0.15);
    font-weight: 900;
    font-family: verdana;
    font-size: 70px;
    margin-top: -25px;
    text-align: center;
}
.author-rating .tag {
    position: absolute;
    top: 30px;
    right: -20px;
    background-color: var(--common-green);
    color: white;
    border-radius: 20px;
    font-size: 0.8em !important;
    padding: 5px 10px;
    width: auto;
}
.author-rating .author-rating-inside-wrapper {
    background-color: white;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.author-rating .author-rating-up-wrapper {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.author-rating:hover .author-rating-up-wrapper:not(.tag) {
    font-size: 0.4em;
    height: 20%;
}
.author-rating:hover .author-rating-inside-wrapper {
    height: 80%;
    padding: 20px;
}

/* Author rating styles ended */
.sidebar li {
    list-style: circle !important;
    padding: 3px 0;
}
.sidebar ul {
    list-style-type: circle !important;
}

.sidebar li > ul {
    margin-left: 50px;
}
.sidebar a::before {
    content: none;
}
.sidebar a {
    color: rgb(31, 30, 30);
    -webkit-transition: var(--compt-transition);
    -o-transition: var(--compt-transition);
    transition: var(--compt-transition);
}
.sidebar a:hover {
    color: var(--common-green);
}
.sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

/* Comparrot accordion */
.compt-accordion {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    height: auto;
    -ms-flex-item-align: start;
    align-self: flex-start;
    overflow: hidden;
}
.compt-accordion-key {
    position: relative;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    cursor: pointer;
    color: #233064;
    height: 77px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
}
.compt-accordion-content {
    margin-top: -1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.compt-accordion-key .tog-btn i {
    color: var(--common-green);
}
.compt-accordion-key .tog-btn {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    padding: 20px;
    -webkit-transition: var(--compt-transition);
    -o-transition: var(--compt-transition);
    transition: var(--compt-transition);
}
.compt-accordion-key h2 {
    text-align: left;
    font-size: 20px;
    margin: 0;
}

.compt-accordion > div {
    border: 1px solid #aed6ee;
    background-color: #f1f7fa;
    padding: 20px;
}
.compt-accordion-key {
}

/* Grid system */
@media only screen and (max-width: 600px) {
    .compt-page-identity {
        padding-left: 2% !important;
        padding-right: 2% !important;
    }
}
@media only screen and (max-width: 768px) {
    .tag {
        position: initial !important;
    }
    .compt-page-meta {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
    }
    .breadcrumb-widget form {
        margin-right: auto;
        margin-left: auto;
    }
    .compt-page-title {
        font-size: 2em;
        margin: 20px 0;
    }
    .compt-page-identity {
        height: 100%;
        padding: 20px 0;
    }
    .breadcrumb-widget {
        padding: 20px 0;
    }
    .author-bio {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    .author-bio .avatar {
        text-align: center;
    }
    .author-col {
        margin-bottom: 20px;
    }
    .compt-page-content {
        padding: 0 !important;
    }
}
@media only screen and (min-width: 768px) {
    .author-rating {
        margin-left: 20px;
    }
    .col-100 {
        width: 100%;
    }
    .body-row {
        margin: 50px 0;
    }
    .author-col {
        height: 320px;
        /* width: calc(50% - 30px); */
    }
    .author-row {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        -ms-flex-flow: row !important;
        flex-flow: row !important;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Padding */
.pd-5 {
    padding: 5px;
}
.pd-10 {
    padding: 10px;
}
.pd-15 {
    padding: 15px;
}
.pd-20 {
    padding: 20px;
}
.pd-25 {
    padding: 25px;
}
.pd-50 {
    padding: 50px;
}
.pd-100 {
    padding: 100px;
}
.pd-150 {
    padding: 150px;
}
.pd-200 {
    padding: 200px;
}

.pd-lr-50 {
    padding: 0 50px;
}
.pd-lr-100 {
    padding: 0 100px;
}
.pd-lr-150 {
    padding: 0 150px;
}
.pd-tb-10 {
    padding: 10px 0;
}
.pd-tb-20 {
    padding: 20px 0;
}
.pd-tb-25 {
    padding: 25px 0;
}
.pd-tb-50 {
    padding: 50px 0;
}
.pd-tb-100 {
    padding: 100px 0;
}
.pd-tb-150 {
    padding: 150px 0;
}

/* Interlink designs */
.interlink-section {
    background-color: #d3e7fe;
    min-height: 600px;
    padding: 100px 0;
}

.interlink-section .container > div {
    width: 100%;
}
.interlink-col {
    background-color: white;
    border: 2px solid #aed6ee;
    padding: 30px 40px;
    border-radius: 3px;
    min-height: 338px;
    -webkit-transition: background 0.3s, border 0.3s, border-radius 0.3s,
        -webkit-box-shadow 0.3s;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        -webkit-box-shadow 0.3s;
    -o-transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.interlink-col ul {
    list-style-type: none;
}
.interlink-col:not(:last-child) {
    margin-right: 20px;
}
.interlink-col a {
    color: black;
}
.interlink-col a:hover {
    color: #5bba6f;
}
.interlink-col i {
    margin-right: 10px;
    color: var(--common-green);
}
.interlink-col h3,
.interlink-col li {
    margin: 8px 0;
}
.interlink-col h3 {
    color: #233064;
}
/* Interlink col ended */

.blog-container {
    margin: 100px 0;
}
.blog-item {
    padding: 20px 0;
    margin: 20px 0;
    border: 1px solid #ccc;
}
.para {
    word-break: break-word;
}

.blog-list-meta {
    font-size: 0.9em;
    color: gray;
}

.site-logo-text {
    color: var(--compt-header-logo-text-color);
}
.site-logo-img {
    height: 50px;
    width: auto;
}
.site-logo-img[src=""] {
    display: hidden;
}

.breadcrumb-widget form {
    width: 230px;
    padding: 15px;
    background-color: rgb(109, 156, 243);
    border-radius: 8px;
}
.breadcrumb-widget select,
.breadcrumb-widget input {
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    margin: 2px 0;
    font-size: 0.8em;
    background-color: rgb(119, 166, 253);
    color: white;
}
.breadcrumb-widget input::-webkit-input-placeholder {
    color: white;
}
.breadcrumb-widget input::-moz-placeholder {
    color: white;
}
.breadcrumb-widget input:-ms-input-placeholder {
    color: white;
}
.breadcrumb-widget input::-ms-input-placeholder {
    color: white;
}
.breadcrumb-widget input::placeholder {
    color: white;
}
.breadcrumb-widget input[type="button"] {
    color: rgb(3, 70, 196) !important;
    background-color: white;
}
.breadcrumb-widget h2 {
    color: white;
    text-align: center;
    font-weight: normal;
    margin: 4px 0;
}
.huisnr-parent {
    padding-left: 0 !important;
}

/* CTA full width widget */
.cta-full-width-container {
    min-height: 600px;
    position: relative;
    overflow: hidden;
}
.compt-cta-background-image {
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    -o-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 160%;
    width: 170%;
    position: absolute;
}
.cta-full-width-container .container {
    z-index: 300;
}
.cta-title {
    color: white;
}
.cta-widget-area {
    width: 100%;
    height: auto;
    position: relative;
}
.cta-widget-area .cta-widget-title img {
    height: 150px;
    width: auto;
}
.cta-widget-area .cta-widget-title {
    position: absolute;
    top: -50%;
    right: 50px;
}

.breadcrumb-widget {
    height: 100%;
}
.breadcrumb-widget > img {
    height: 100%;
    width: auto;
}

blockquote {
    background: #f1f7fa;
    border-left: 15px solid #5bba6f;
    font-size: 17px;
    border-radius: 4px;
    margin: 25.5px 10px !important;
    padding: 8.5px 15px;
    quotes: "\201C""\201D""\2018""\2019";
}

.main-content-container {
    padding: 50px 0;
}

.prefill-widget {
    position: relative;
    font-family: var(--titilium);
}
.prefill-widget .postcodebox {
    padding-top: 15px;
    padding-bottom: 0px;
}
.prefill-widget .widget-content {
    border-top: 15px solid #5bba6f;
    border-radius: 5px;
    background-color: white;
}
.prefill-widget .widget-title img {
    height: 300px;
    width: auto;
    position: absolute;
    top: -50%;
    right: 0;
}

.prefill-main-title,
.prefill-subtitle {
    color: white !important;
    margin: 20px 0;
}
.prefill-main-title {
    font-size: 2.5em !important;
}
.prefill-widget input,
.prefill-widget select {
    color: gray;
}

.toc-section {
    border-right: 1px solid rgb(235, 235, 235);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-right: 30px !important;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.toc-section ol {
    list-style-type: circle;
    padding-left: 20px !important;
}
.toc-section li {
    margin: 8px 0;
}
.toc-section a {
    font-family: var(--titilium);
}
.toc-link.is-active-link {
    font-weight: normal;
    color: #5bba6f;
}
.page-content-section {
    padding-left: 30px !important;
    font-family: var(--titilium);
    display: block;
}
.page-content-section > * {
    margin: 0 !important;
}
.page-content-section p {
    width: 100%;
    display: block;
    margin: 0 !important;
    padding: 0 !important;
}
.page-content-section .content > div {
    padding: 0 !important;
}
.page-content-section h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-family: Roboto;
    font-size: 24px;
    color: #233064;
    font-weight: 500;
    line-height: 1.6em;
    display: block;
    width: 100%;
    padding: 0 !important;
}
.page-content-section ul,
.page-content-section ol {
    list-style-position: outside;
    padding-left: 25px;
    margin-right: 0.8em;
    margin-top: 15px;
}

.call-to-action-button {
    background-color: #5bba6f;
    color: white;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom-right-radius: 30px;
    height: 55px;
    width: 230px;
    font-size: 1.2em;
    font-weight: bold;
    -webkit-transition: var(--compt-transition);
    -o-transition: var(--compt-transition);
    transition: var(--compt-transition);
}
.call-to-action-button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.main-content-container img {
    max-width: 100%;
    height: auto;
}
/* Greater than 768px */
@media only screen and (min-width: 768px) {
    .inter-link-row {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        -ms-flex-flow: row !important;
        flex-flow: row !important;
    }
    .author-row:last-child {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row;
        flex-flow: row;
    }
}

/* Less than 768px */
@media only screen and (max-width: 768px) {
    .inter-link-row {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-flow: column !important;
        flex-flow: column !important;
    }
    .author-row:last-child {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
    }
}
.interlink-title,
.interlink-subtitle {
    color: #233064;
}

.interlink-title {
    font-weight: 500;
    font-size: 50px;
}
.cta-row {
    margin-bottom: 0;
}

.compt-accordion p {
    display: none;
}

/* .prefill-widget p {
    display: none;
} */
.prefill-widget {
    /* background-color: white; */
}

.post-image img {
    padding: 0;
    margin: 20px 0;
}

#vergelijken {
    padding: 15px 60px;
}
.postcodebox .pc-element {
    min-width: 150px;
}
.postcodebox .pc-element:last-child {
    margin-top: 50px;
}

#page {
    padding: 0 !important;
}

/* Extra styles start from here */

/* selfstrap */
@media (min-width: 576px) {
    .comparrot-col-sm {
        flex: 1 0 0%;
    }
    .comparrot-col-sm-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .comparrot-col-sm-1 {
        flex: 0 0 auto;
        width: 8.3333333333%;
    }

    .comparrot-col-sm-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .comparrot-col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .comparrot-col-sm-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .comparrot-col-sm-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    .comparrot-col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .comparrot-col-sm-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .comparrot-col-sm-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .comparrot-col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .comparrot-col-sm-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
    }

    .comparrot-col-sm-11 {
        flex: 0 0 auto;
        width: 91.6666666667%;
    }

    .comparrot-col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .comparrot-col-md {
        flex: 1 0 0%;
    }
    .comparrot-col-md-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .comparrot-col-md-1 {
        flex: 0 0 auto;
        width: 8.3333333333%;
    }

    .comparrot-col-md-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .comparrot-col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .comparrot-col-md-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .comparrot-col-md-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    .comparrot-col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .comparrot-col-md-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .comparrot-col-md-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .comparrot-col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .comparrot-col-md-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
    }

    .comparrot-col-md-11 {
        flex: 0 0 auto;
        width: 91.6666666667%;
    }

    .comparrot-col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
@media (min-width: 992px) {
    .col-lg {
        flex: 1 0 0%;
    }
    .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.3333333333%;
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.6666666667%;
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .col-xl {
        flex: 1 0 0%;
    }
    .col-xl-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-xl-1 {
        flex: 0 0 auto;
        width: 8.3333333333%;
    }

    .col-xl-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .col-xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .col-xl-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-xl-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .col-xl-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-xl-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
    }

    .col-xl-11 {
        flex: 0 0 auto;
        width: 91.6666666667%;
    }

    .col-xl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

.comparrot-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}
.comparrot-row > * {
    flex-shrink: 0;
    /* width: 100%; */
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}

.comparrot-container,
.comparrot-container-fluid,
.comparrot-container-xxl,
.comparrot-container-xl,
.comparrot-container-lg,
.comparrot-container-md,
.comparrot-container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .comparrot-container-sm,
    .comparrot-container {
        max-width: 676px;
    }
}
@media (min-width: 768px) {
    .comparrot-container-md,
    .comparrot-container-sm,
    .comparrot-container {
        max-width: 820px;
    }
}
@media (min-width: 992px) {
    .comparrot-container-lg,
    .comparrot-container-md,
    .comparrot-container-sm,
    .comparrot-container {
        max-width: 1992px;
    }
}
@media (min-width: 1200px) {
    .comparrot-container-xl,
    .comparrot-container-lg,
    .comparrot-container-md,
    .comparrot-container-sm,
    .comparrot-container {
        max-width: 1200px;
    }
}
@media (min-width: 1400px) {
    .comparrot-container-xxl,
    .comparrot-container-xl,
    .comparrot-container-lg,
    .comparrot-container-md,
    .comparrot-container-sm,
    .comparrot-container {
        max-width: 1500px;
    }
}

/* @media (min-width: 576px) {
    .comparrot-container-sm,
    .comparrot-container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .comparrot-container-md,
    .comparrot-container-sm,
    .comparrot-container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .comparrot-container-lg,
    .comparrot-container-md,
    .comparrot-container-sm,
    .comparrot-container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .comparrot-container-xl,
    .comparrot-container-lg,
    .comparrot-container-md,
    .comparrot-container-sm,
    .comparrot-container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .comparrot-container-xxl,
    .comparrot-container-xl,
    .comparrot-container-lg,
    .comparrot-container-md,
    .comparrot-container-sm,
    .comparrot-container {
        max-width: 1320px;
    }
} */

.d-flex {
    display: flex !important;
}

.d-inline-flex {
    display: inline-flex !important;
}

.d-none {
    display: none !important;
}
.justify-content-start {
    justify-content: flex-start !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-around {
    justify-content: space-around !important;
}

.justify-content-evenly {
    justify-content: space-evenly !important;
}

.align-items-start {
    align-items: flex-start !important;
}

.align-items-end {
    align-items: flex-end !important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-baseline {
    align-items: baseline !important;
}

.align-items-stretch {
    align-items: stretch !important;
}

.align-content-start {
    align-content: flex-start !important;
}

.align-content-end {
    align-content: flex-end !important;
}

.align-content-center {
    align-content: center !important;
}

.align-content-between {
    align-content: space-between !important;
}

.align-content-around {
    align-content: space-around !important;
}

.align-content-stretch {
    align-content: stretch !important;
}

.align-self-auto {
    align-self: auto !important;
}

.align-self-start {
    align-self: flex-start !important;
}

.align-self-end {
    align-self: flex-end !important;
}

.align-self-center {
    align-self: center !important;
}

.align-self-baseline {
    align-self: baseline !important;
}

.align-self-stretch {
    align-self: stretch !important;
}
.overflow-auto {
    overflow: auto !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.overflow-visible {
    overflow: visible !important;
}

.overflow-scroll {
    overflow: scroll !important;
}
