.mt3-breadcrumb a {
    color: black;
}

.mt3-body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}
.mt3-cover {
    width: 100%;
    height: 600px;
    position: relative;
}

.cv-bg-layer {
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
}
.header-info-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}

.cv-gray-line {
    width: 400px;
    border-top: 2px solid #707070;
}
.cv-row {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
}
.cv-col:first-child {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cv-row {
    padding-top: 80px;
    padding-bottom: 80px;
}
.mt3-page-title {
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin: 20px 0;
}

/* CV widget */
.cv-widget {
    width: 320px;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    background-color: white;
    position: relative;
}
.cvw-hd {
    font-weight: bold;
    font-size: 20px;
}
.cvw-row {
    margin: 5px 0;
}
.cvw-search-holder {
    border-radius: 20px;
    padding: 20px;
    background-color: var(--light-green-fill);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}
.mt3-input-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
}
.mt3-input-row:first-child > .mt3-input-group:first-child {
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
}
.mt3-input-row:first-child > .mt3-input-group:last-child {
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    padding: 0 5px;
}
.mt3-input-row:first-child > .mt3-input-group:last-child input:first-child {
    margin-right: 5px;
}
.mt3-input-group label {
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
}
.mt3-input-row:last-child .mt3-input-group {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
}
.mt3-input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}
.mt3-input-group input:focus,
.mt3-input-group select:focus {
    border-color: var(--light-maroon) !important;
    outline: none !important;
}
.mt3-input-group input,
.mt3-input-group select {
    width: 100%;
    border: 2px solid var(--green-fill) !important;
    border-radius: 10px !important;
    padding: 18px 10px;
    color: #bcbcbc;
}
.mt3-input-group input::-webkit-input-placeholder,
.mt3-input-group select::-webkit-input-placeholder {
    color: #bcbcbc;
    font-size: 13px;
}

.mt3-input-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 0px;
    background-size: 50px 50px;
    padding: 1rem;
    padding-right: 2rem;
    background-color: white;
    outline: none;
}
.mt3-input-group > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.cvw-tag {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: var(--light-maroon);
    position: absolute;
    right: 20px;
    top: -60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.cvw-tag > * {
    margin: 0;
}
.cvw-tag h4 {
    font-size: 12px;
    font-weight: bold;
}
.cvw-tag h3 {
    font-size: 28px;
    font-weight: 900;
}
.cvw-submit {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--light-maroon);
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
    transition: 0.3s all linear;
}

/* End CV widget */


/* Strap styles */


/* Strap styles end */

/* TOC section */

.toc-col:first-child {
    width: 100%;
}
.mt3-toc {
    width: 305px;
    height: auto;
    padding: 0;
    background-color: white;
    -webkit-box-shadow: 0 0 5px 1px #cccccc;
    box-shadow: 0 0 5px 1px #cccccc;
    border-radius: 20px;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    margin-top: -150px;
}
.mt3-toc > * {
    padding: 20px;
}
.toc-content {
    background-color: var(--light-green-fill);
}
.mt3-toc .is-active-link::before {
    display: none;
}
.toc-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
}
.toc-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.toc-col:first-child {
    font-size: 20px;
    font-weight: 900;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: black;
}
.toc-col:last-child {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.toc-col:last-child img {
    height: 80%;
    width: auto;
    cursor: pointer;
    -webkit-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
    transition: 0.3s all linear;
}
.toc-key {
    height: 65px;
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: center; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
/* TOC section end */

/* Author section */
.author-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: var(--mt-shadow);
    box-shadow: var(--mt-shadow);
    border-radius: 20px;
}
.author-rating-section {
    padding: 20px;
    border-radius: 20px;
}
.rating-col {
    display: block;
}
.rating-row {
    display: block;
}
.author-rating-section {
    display: inline-block;
    height: 100%;
}
.author-rating-section > div {
    border: 2px solid var(--green-fill);
    background-color: var(--light-green-fill);
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    width: 100%;
}
.author-image {
    width: 180px;
    height: auto;
}
.author-col {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.author-bio-holder {
    width: 60%;
}
.author-bio:last-child {
    margin: 5px;
}
.gray-line::before {
    content: "";
    border-top: 2px solid #c9c9c9;
    display: inline-block;
    width: 70%;
}
.author-bio:last-child a {
    padding: 15px 15px 15px 0;
}
.author-bio:last-child a img {
    height: 15px;
    width: auto;
}
.author-bio:nth-child(1) {
    color: var(--dark-green-fill);
    font-weight: bold;
    font-size: 14px;
}
.author-bio:nth-child(2) {
    color: var(--light-gray);
    font-size: 12px;
    margin-bottom: 10px;
}
.author-bio:nth-child(3) {
    font-size: 14px;
    color: black;
}
.author-bio:nth-child(4) {
}
.author-rating-item h1 {
    font-weight: bolder;
    font-size: 86px;
    color: black;
}
.author-rating-item:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.author-rating-item:nth-child(2) img {
    height: 40px;
    width: auto;
}

.author-rating-item:nth-child(2) img:nth-child(3) {
    height: 55px;
    margin-top: -15px;
}
/* Author section end */

/* Comment section */
.cmnt-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
}
h2.green-title {
    color: var(--dark-green-fill);
    font-weight: bolder;
    font-size: 22px;
}
.bio-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.bio-img {
    height: 60px;
    width: auto;
}
.bio-item:nth-child(1) {
    font-weight: 700;
    color: black;
    font-size: 16px;
}
.bio-item:nth-child(2) {
    font-weight: normal;
    color: var(--light-gray);
    font-size: 12px;
}
.bio-item:nth-child(3) {
    font-weight: normal;
    font-size: 14px;
    color: black;
}
.bio-items-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}
.bio-col:not(:last-child) {
    margin-right: 10px;
}
.cmnt-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.mg5 {
    margin: 5px 0;
}
.cmnt-button-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.cmnt-button {
    padding: 5px 20px;
    border: 2px solid var(--light-gray);
    border-radius: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    cursor: pointer;
    -webkit-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
    transition: 0.3s all linear;
}
.cmnt-button:not(:first-child) {
    margin-left: 10px;
}
.cmnt-up-section .cmnt-col:last-child {
    color: var(--dark-green-fill);
}
.cmnt-section {
    font-size: 14px;
}
.cmnt-section textarea {
    border: 2px solid var(--light-gray);
    border-radius: 10px;
    background-color: white;
    resize: none;
}
.cmnt-section textarea:focus {
    border: 2px solid var(--light-maroon);
}

/* Comment section end */

/* Intelrink section */
.interlink-section-holder {
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: cover;
    margin-top: -30px;
    padding: 80px 0;
}
/* .ins-col-holder {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* Search section */
.src-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}

.src-search-box {
    padding: 50px 100px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.src-section-holder {
    padding: 80px 0!important;
    background-repeat: repeat-x;
    background-size: cover;
    background-position: left bottom;
}
.src-input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}
.src-input-group input:focus,
.src-input-group select:focus {
    border-color: var(--light-maroon) !important;
    outline: none !important;
}
.src-input-group input,
.src-input-group select {
    width: 100%;
    border: 2px solid var(--light-gray) !important;
    border-radius: 10px !important;
    padding: 12px 10px !important;
    color: #bcbcbc;
}
.src-input-group input::-webkit-input-placeholder,
.src-input-group select::-webkit-input-placeholder {
    color: #bcbcbc;
    font-size: 13px;
}

.src-input-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 0px;
    background-size: 40px 40px;
}
.src-input-group > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.src-tag {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: var(--light-maroon);
    position: absolute;
    right: 20px;
    top: -60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.src-tag > * {
    margin: 0;
}
.src-tag h4 {
    font-size: 12px;
}
.src-tag h3 {
    font-size: 28px;
    font-weight: bold;
}
.src-input-group:not(:last-child) {
    margin-right: 10px;
}
.src-input-group:nth-child(1) {
    width: 180px;
}
.src-input-group:nth-child(2) input {
    width: 80px;
}
.src-input-group:nth-child(2) input:not(:last-child) {
    margin-right: 10px;
}
.src-input-group:nth-child(3) select {
    width: 300px;
}
.src-input-group:nth-child(4) {
    width: 250px;
}

.src-row h4 {
    font-size: 14px;
}
.src-row h1 {
    font-size: 36px;
    font-weight: bold;
}
.src-row:not(:last-child) {
    margin-bottom: 15px;
}

.src-input-group .mt-submit {
    margin-bottom: -15px;
    font-size: 16px;
    white-space: nowrap;
}
/* Search section end */

.src-section-holder {
    margin-bottom: 0 !important;
    z-index: 2;
}
.ins-row h1 {
    font-size: 16px;
    font-weight: normal;
}
.ins-row h2 {
    font-weight: bold;
    color: black;
    font-size: 40px;
    text-align: center;
}
.ins-col-holder > * {
    border-radius: 20px;
    /* margin: 5px; */
    width: 340px;
}
.ins-col-holder > * > * {
    padding: 20px;
}
.ins-col-holder i {
    margin-right: 10px;
}
.ins-col-holder ul {
    background-color: var(--light-green-fill);
    margin: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    list-style-type: none;
    -webkit-box-shadow: var(--mt-shadow);
    box-shadow: var(--mt-shadow);
    min-height: 280px;
}
.ins-col-holder > * h3 {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-box-shadow: var(--mt-shadow);
    box-shadow: var(--mt-shadow);
    font-size: 18px;
    font-weight: 900;
    color: black;
}
.ins-col-holder a {
    color: black;
    /* padding: 20px 0; */
    font-size: 14px;
}
.interlink-col li {
    padding: 2px 0;
}
.interlink-col {
    width: calc(33.3333333333% - 20px) !important;
}
.ins-col-holder {
    margin: 20px 0;
}
/* Interlink section end */

/* Provider section */
.provider-section {
    background-color: var(--light-green-fill);
    padding: 30px 0;
}
#wle_vergelijker_start {
    background-color: var(--light-green-fill) !important;
}
.wle_postalcheck.wle_interactive_box {
    background-color: black !important;
}
.wle_dropdown_container svg {
    fill: var(--dark-green-fill) !important;
}
.wle_dropdown_container span {
    color: var(--dark-green-fill) !important;
}

.wle_filter_container .wle_row.wle_row_sidebar > div {
    border-color: var(--dark-green-fill) !important;
}
.wle_filter_container:nth-child(2) .wle_icon_container,
.wle_filter_container:nth-child(3) .wle_icon_container {
    border-color: var(--dark-green-fill) !important;
    background-color: var(--dark-green-fill) !important;
}
.wle_filter_container:nth-child(2) .wle_checkbox_container svg,
.wle_filter_container:nth-child(3) .wle_checkbox_container svg {
    fill: var(--dark-green-fill) !important;
    background-color: var(--dark-green-fill) !important;
}
.wle_filter_container:nth-child(2) .wle_checkbox_container span.wle_title,
.wle_filter_container:nth-child(3) .wle_checkbox_container span.wle_title {
    color: var(--dark-green-fill) !important;
}
.wle_postalcheck_expand_top .wle_link_container:last-child svg {
    fill: var(--dark-green-fill) !important;
}
.wle_sorter_container .wle_cta_link {
    color: var(--dark-green-fill) !important;
}
.wle_sorter_container .wle_cta_link svg {
    fill: var(--dark-green-fill) !important;
}
.wle_postalcheck .wle_button_primary.wle_cta_button.wle_button,
.wle_postalcheck .wle_cta_button.wle_button {
    color: white !important;
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    font-weight: bold !important;
    font-size: 14px !important;
    background-color: var(--light-maroon) !important;
    border-radius: 10px !important;
    /* margin: 10px 0 !important; */
    cursor: pointer !important;
    -webkit-transition: 0.3s all linear !important;
    -o-transition: 0.3s all linear !important;
    transition: 0.3s all linear !important;
}
#wle_products
    .wle_product_container
    .wle_button_container:nth-child(2)
    .wle_button,
#wle_products
    .wle_product_container
    .wle_button_container:nth-child(2)
    .wle_button_primary.wle_button {
    color: white !important;
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    font-weight: bold !important;
    font-size: 14px !important;
    background-color: var(--dark-green-fill) !important;
    border-radius: 10px !important;
    /* margin: 10px 0 !important; */
    cursor: pointer !important;
    -webkit-transition: 0.3s all linear !important;
    -o-transition: 0.3s all linear !important;
    transition: 0.3s all linear !important;
    border-color: var(--dark-green-fill) !important;
}
.wle_product_discount {
    background-color: #bffd6a !important;
    border-radius: 10px !important;
    font-size: 0.9em !important;
}
.wle_product_discount > div > * {
    padding: 6px;
}
.wle_product_provider,
.wle_product_summary > *:first-child {
    border-right: 2px solid var(--light-gray) !important;
}
.wle_product_container .wle_row:nth-child(2) {
    width: 70% !important;
    align-self: flex-end !important;
}
.wle_product_price {
    text-align: center;
}
.wle_product_price .wle_price {
    font-size: 28px !important;
    font-weight: bolder !important;
}
#wle_vergelijker_start .wle_row {
    justify-content: center;
    align-items: center;
}
/* Provider section end */


/* Content end section */
.ct-end-section {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
}
.ct-end-row {
    display: flex;
}
.ct-end-section > .ct-end-row {
    margin-bottom: 15px;
}
.ct-end-row:last-child .ct-end-col:last-child {
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    justify-content: center;
}

.ct-end-row .ct-end-col:not(:last-child) {
    margin-right: 10px;
}
.rating-star-holder img {
    height: 20px;
    width: auto;
}
.ct-end-row:last-child .ct-end-col img {
    height: 20px;
    width: auto;
}
/* Content end section end */

.date-updated,
.date-published {
    display: inline-block;
}

.strong-text {
    font-weight: bold;
    display: inline-block;
}

/* Page contents */

.page-content-section > img {
    width: 100%;
    margin: 20px 0;
}
.page-content-section ul.ordered {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.page-content-section ul.ordered li {
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 20px 0;
    box-shadow: 0 3px 5px 0px #ccc;
    border-radius: 20px;
    font-size: 14px;
}
.ordered-li-indicator {
    height: 35px;
    min-width: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--green-fill);
    margin-right: 15px;
    font-weight: bold;
}
.page-content-section ul.un-ordered {
    list-style-type: none;
    padding: 30px;
    margin: 20px 0;
    box-shadow: 0 3px 5px 0px #ccc;
    border-radius: 20px;
}
.page-content-section ul.un-ordered li {
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.page-content-section ul.un-ordered li::before {
    content: "";
    height: 10px;
    min-width: 10px;
    border-radius: 50%;
    background-color: var(--dark-green-fill);
    display: inline-block;
    margin-right: 10px;
}
.multi-col-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 1px 5px 0px #ccc;
    margin: 20px 0;
    overflow: hidden;
}
.ul-col {
    width: 100%;
}
.ul-col:not(:last-child) ul {
    border-right: 2px solid var(--light-gray);
}
.ul-col ul {
    list-style-type: none;
    margin: 0;
}
.ul-col ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 0;
    font-size: 14px;
}
.multi-col-li-indicator img {
    height: 20px;
    width: auto;
    margin-right: 15px;
}
.ul-col > *:last-child {
    padding: 30px;
}
.ul-col > *:first-child {
    padding: 20px 30px;
}
.ul-col-header {
    background-color: white;
}
.ul-col-header > div {
    font-size: 18px;
    color: black;
    font-weight: 900;
}
.ul-col-content {
    background-color: var(--light-green-fill);
}
/* Page contents end */

.ct-end-col .mt-submit {
    margin: 0;
    margin-right: 30px;
}

.rating-green {
    color: var(--dark-green-fill);
    margin: 10px;
}

.author-bio .gray-line {
    margin-bottom: 10px;
}

.cmnt-row h2.green-title {
    font-weight: 900;
    font-size: 32px;
}

.author-avtr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cmnt-row:nth-child(2) {
    margin-bottom: 15px;
}

.cmnt-submit {
    font-size: 14px;
}
.src-input-group .mt-section {
    margin-bottom: -15px;
    font-size: 16px;
    white-space: nowrap;
}

.svw-tag {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: var(--yellow-fill);
    position: absolute;
    right: calc(150px - 1vw);
    top: -90px;
    box-shadow: var(--box-shadow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.svw-tag > * {
    margin: 0;
}
.svw-tag h4 {
    font-size: 12px;
    color: black;
    font-weight: bold;
}
.svw-tag h3 {
    font-size: 28px;
    font-weight: 900;
    color: var(--dark-green-fill);
}

#huisnummer {
    margin-right: 10px;
}

.quote-item {
    padding: 30px;
    border-radius: 20px;
    background-color: var(--light-green-fill);
    margin: 20px 0;
}
.quote-item p {
    margin: 5px 0;
    font-size: 14px;
}

.page-content-section > h1,
.page-content-section .quote-item h1 {
    font-weight: 900;
    color: var(--dark-green-fill);
    font-size: 32px;
}

.page-content-section > h2,
.page-content-section .quote-item h2 {
    font-weight: 700;
    color: var(--dark-green-fill);
    font-size: 20px;
}


.mt-section-green img,
.cvw-submit img {
    margin-left: 10px;
    height: 15px;
    width: auto;
}

@media only screen and (max-width: 768px) {
    .ins-col-holder {
        flex-flow: column;
    }
    .mt3-cover {
        height: 950px;
    }
    .cv-row {
        flex-flow: column;
        align-items: center;
    }
    .cv-col {
        margin: 30px 0;
        padding: 0 20px;
    }

    .toc-holder {
        margin: 0 auto 20px auto;
    }
    .author-section > .mt-col-md-6 {
        width: 100%;
        margin: 20px 0;
    }
    .quote-item .mt3-col-md-4 {
        margin-left: auto;
        margin-right: auto;
    }
    .multi-col-ul {
        flex-flow: column;
    }
    .multi-col-ul ul {
        border-right: none !important;
    }
    .interlink-col {
        width: 100% !important;
        margin: 10px 0;
    }
    .ct-end-col .mt-section {
        font-size: 12px;
        display: flex;
        white-space: nowrap;
    }
    .ct-end-section > .ct-end-row > .ct-end-col {
        margin: 5px 0;
    }
    .ct-end-section > .ct-end-row:first-child {
        flex-flow: column;
    }
    .ct-end-section > .ct-end-row:last-child {
        flex-flow: column-reverse;
    }
    .ct-end-section {
        margin-top: 50px;
    }
    .src-search-box {
        flex-flow: column;
        align-items: flex-start;
        padding: 50px 30px;
        margin: 100px 0;
    }
    /* .footer-section .mt3-row.mt3-col-md-12 > *{
        margin: 10px 0;
    } */
    .footer-section .mt3-row.mt3-col-md-12 > .mt3-col-md-5 {
        margin-top: 10px;
    }
    .footer-end {
        height: 150px;
    }
    .footer-end .privacy-link {
        flex-flow: column;
        margin: 0;
    }
    .footer-end .privacy-link a {
        white-space: nowrap;
    }
    .part-2-holder {
        flex-flow: column;
    }
    .header-row.part-2 {
        height: 320px;
    }
    .header-row.part-1 {
        height: auto;
    }
    .part-1-holder {
        flex-flow: column;
        align-items: flex-start;
        padding-right: 5vw;
        padding-right: 20px 0;
    }
    .p1h-item {
        margin: 10px 0;
    }
    .bi-col:nth-child(1),
    .bi-col:nth-child(3) {
        margin: 0 !important;
    }
    .bio-col:nth-child(2) {
        width: 70vw;
    }

    .cell-info {
        flex-flow: column;
        align-items: flex-start;
        padding: 5px 0;
    }
    .cell-info .pt2-col {
        font-size: 12px;
    }
    .part-2-holder > .p2h-item:nth-child(2) {
        margin: 30px 0;
    }
    .help-bannner img:last-child {
        position: absolute;
        top: -50px;
        right: -14px;
    }
    .part-2-holder .p2h-item:nth-child(1) {
        margin: 20px 0;
    }
    .part-2-holder .p2h-item:nth-child(1) img {
        height: 80px;
        width: auto;
    }
    .mt3-page-title{
        font-size: 30px;
        padding-right: 20px;
        /* padding-left: 20px; */
    }
    .pt2-row h4{
        font-size: 14px;
    }
    .cmnt-button-section{
        flex-flow: column;
    }

    .cmnt-section .cmnt-row.mg5:nth-child(2) .cmnt-col{
        width: 50%;
    }
    .cmnt-button{
        margin: 5px 0;
    }
    .cmnt-row h2.green-title{
        white-space: nowrap;
    }
}
