.mt4-cover {
    width: 100%;
    height: 300px;
    position: relative;
}

.cv-bg-layer {
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
}
.header-info-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}

.cv-row {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
}
.cv-col:first-child {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
}

.cv-row {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Mt4 integreted styles */
.main-content-section {
    margin-top: -300px;
}

.shadow-section {
    -webkit-box-shadow: 0 1px 5px 0px #ccc;
    box-shadow: 0 1px 5px 0px #ccc;
}
.pd20 {
    padding: 20px;
}
.light-green-section {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--light-green-fill);
}

/* Section part 1 */
.mt-body h2 {
    font-weight: bold;
}

.sp1-green {
    background-color: var(--light-green-fill);
    border-radius: 20px;
    padding: 20px;
}
.sidebar-row {
    margin: 10px 5px;
    padding: 20px;
}
/* Section part 1 end */

/* Address section */
.address-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}
.address-row h2 {
    font-size: calc(20px + 0.3vw);
}
/* Address section end  */

/* Sidebar 1 */
.rating-holder-top {
    display: flex;
}
.rating-holder-top img {
    height: 15px;
    width: auto;
}
.sidebar-row:nth-child(1) > * {
    margin: 5px 0;
}
/* Sidebar 1 end */

/* Tabs */
.mt4-tab {
    padding-left: 0;
    padding-right: 0;
}
.mt4-tab-keys {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0;
}
.mt4-tab-keys .key-item {
    padding: 8px 30px 24px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #e5e5e5;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    color: black;
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.mt4-tab-contents {
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    margin-top: -15px;
    padding: 30px;
    background-color: white;
    z-index: 100;
    width: 100%;
    min-height: 400px;
    font-size: 0.9em;
}
.mt4-tab-contents .content-item {
    background-color: white;
}
/* Tabs end */

/* Contact tab */
.contact-tab {
    border: 2px solid var(--green-fill);
    border-radius: 20px;
    margin: 15px 0;
    background-color: var(--light-green-fill);
    overflow: hidden;
}
.contact-tab > * {
    padding: 20px;
}
.contact-tab > .mt4-col-md-5 {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 2px solid var(--green-fill);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: white;
}
.contact-tab > .mt4-col-md-5 > * {
    margin: 10px 0;
}
.contact-tab > .mt4-col-md-5 h5 {
    font-size: 16px;
    font-weight: 500;
}
.contact-tab > .mt4-col-md-7 {
    background-color: var(--light-green-fill);
}
.toggle-switch-holder {
    padding: 3px;
    border: 2px solid var(--green-fill);
    border-radius: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 120px !important;
    font-size: 14px;
}
.toggle-option {
    color: var(--light-gray);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: bold;
}
.toggle-option.active-toggle {
    background-color: var(--dark-green-fill);
    color: white;
}
.contact-rating-holder {
    background-color: var(--light-green-fill);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    padding: 20px;
    border-radius: 10px;
}
.contact-rating-holder .rating-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.contact-rating-holder .rating-point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.contact-rating-holder .rating-point img {
    height: 10px;
    width: auto;
    margin: 0 2px;
}
.cf-input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 5px 0;
}
.cf-input-group textarea,
.cf-input-group input {
    border: 2px solid var(--green-fill);
    border-radius: 10px;
    padding: 6px 20px;
    outline: none;
    transition: 0.3s all linear;
}
.cf-input-group textarea:focus,
.cf-input-group input:focus {
    border: 2px solid var(--light-maroon);
}
/* Contact tab end */

/* Quote rating */
.qr-row {
    margin: 10px 0;
}
.qr-row:nth-child(1) {
    justify-content: space-between;
}
.qr-row:nth-child(1) h3 {
    font-weight: normal;
}
.qr-row:nth-child(2) {
    padding: 20px;
    background-color: var(--light-green-fill);
    border-radius: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    height: 200px;
}
.qr-row:nth-child(2) .mt4-col-md-1 {
    font-size: 100px;
    color: var(--dark-green-fill);
}
.qr-row:nth-child(2) p {
    color: var(--dark-green-fill);
    margin: 0;
    font-style: italic;
}

.qr-row .qr-rating-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 30%;
}
.qr-row .rating-point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.qr-row .rating-point img {
    height: 15px;
    width: auto;
    margin: 0 2px;
}
.quote-rating:first-child {
    margin-bottom: 20px !important;
    display: none;
}
.more-rating-button-holder {
    justify-content: center;
}
.more-rating-button {
    padding: 10px 40px;
    border: 2px solid var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}
/* Quote rating end */
.ordered-li-indicator {
    height: 35px;
    min-width: 35px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--green-fill);
    margin-right: 15px;
    font-weight: bold;
}
/* Sidebar 3 */
.sidebar-row:nth-child(3) {
    flex-flow: column;
    padding: 0;
    overflow: hidden;
}
.sidebar-row:nth-child(3) > * {
    padding: 20px;
}
.sidebar-row:nth-child(3) .list-header {
    background-color: white;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar-row:nth-child(3) .list-items {
    background-color: var(--light-green-fill);
}

.sidebar-row:nth-child(3) .list {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 0 10px;
}
.sidebar-row:nth-child(3) .list:not(:last-child) {
    border-bottom: 2px solid var(--green-fill);
}
/* Sidebar 3 end */
.mt4-section:nth-child(1) {
    font-size: 0.9em;
}
.sp1-green {
    align-items: center;
}
.sp1-green h2 {
    font-size: 20px;
}

.sidebar-row:nth-child(1) {
    font-size: 0.9em;
}

.menu ul:first-child ul {
    display: none;
}
.list-title {
    font-weight: 600;
}
.sidebar-row:nth-child(3) {
    font-size: 0.9em;
}

.address-row h4 {
    font-size: 16px;
    font-weight: 500;
}

/* Pricing list */
.pricing-list {
    display: flex;
}
.price-heder {
    display: flex;
    justify-content: space-between;
}
.price-content {
    background-color: var(--light-green-fill);
}
.price-content > * {
    margin: 10px 0;
}
.price-content ul {
    list-style-type: none;
    margin: 0;
}
.price-content ul li {
    font-size: 12px;
    font-weight: 500;
    display: flex;
    margin: 4px 0;
}
.price-content ul img {
    height: 20px;
    width: auto;
    margin-right: 10px;
}
.price-item {
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    overflow: hidden;
}
.price-item > * {
    padding: 20px;
}
.price-item:not(:last-child) {
    margin-right: 15px;
}
.peader-col:first-child img {
    height: 50px;
    width: auto;
}
.peader-col:last-child {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.peader-col:last-child img {
    height: 25px;
    width: auto;
}
.peader-col:last-child h4 {
    font-size: 16px;
    font-weight: 500;
}
.get-package {
    background-color: var(--dark-green-fill);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    white-space: nowrap;
}

/* Pricing list end */

/* Rating section */

.rating-section {
    padding: 0;
}
.rating-section .rating-ico {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    margin: 5px;
    width: calc(16.6666666667% - 10px);
    border: 1px solid var(--green-fill);
    background-color: var(--light-green-fill);
    border-radius: 20px;
}
.rating-section .rating-star-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.rating-section .rating-star-holder img {
    height: 15px;
    width: auto;
}
/* .rating-row {
    flex-wrap: nowrap;
    margin: 5px 0;
    justify-content: flex-start !important;
    padding: 0;
}
.rating-row > * {
    border-radius: 20px;
    margin: 2px;
}
.rating-row .rating-ico {
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 5px;
    border: 1px solid var(--green-fill);
    background-color: var(--light-green-fill);
    border-radius: 20px;
}
.rating-row .rating-star-holder {
    display: flex;
}
.rating-row .rating-star-holder img {
    height: 15px;
    width: auto;
} */
.white-rating-holder img {
    height: 30px;
    width: auto;
}
.green-bubble {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    border-radius: 20px;
    margin: 5px;
    width: calc(33.3333333333% - 10px);
}
.green-bubble h1 {
    font-size: 96px;
    font-weight: bold;
}

/* Rating section end */
.mt4-submit img,
.mt4-submit-green img,
.cvw-submit img {
    margin-left: 10px;
    height: 15px;
    width: auto;
}

@media screen and (max-width: 768px) {
    .footer-section .mt4-row.mt4-col-md-12 > .mt4-col-md-5 {
        margin-top: 10px;
    }
    .footer-end {
        height: 150px;
    }
    .footer-end .privacy-link {
        flex-flow: column;
        margin: 0;
    }
    .footer-end .privacy-link a {
        white-space: nowrap;
    }
    .part-2-holder {
        flex-flow: column;
    }
    .header-row.part-2 {
        height: 320px;
    }
    .header-row.part-1 {
        height: auto;
    }
    .part-1-holder {
        flex-flow: column;
        align-items: flex-start;
        padding-right: 5vw;
        padding-right: 20px 0;
    }
    .p1h-item {
        margin: 10px 0;
    }
    .quote-rating p {
        max-width: 90%;
    }
    .qr-row {
        justify-content: flex-start !important;
        align-items: flex-start;
    }
    .contact-tab > .mt4-col-md-5 {
        width: 100%;
        border: 0;
        border-bottom: 2px solid var(--green-fill);
        border-bottom-left-radius: 20px;
    }
    .rating-section .rating-ico {
        flex: 16.66%;
    }
    .green-bubble {
        flex: 100%;
    }
    .address-row {
        width: 100%;
    }
    .key-item {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .bi-col:nth-child(1),
    .bi-col:nth-child(3) {
        margin: 0 !important;
    }
    .bio-col:nth-child(2) {
        width: 70vw;
    }
    .pricing-list {
        flex-flow: column;
    }
    .price-item {
        margin: 10px 0;
    }

    .cell-info {
        flex-flow: column;
        align-items: flex-start;
        padding: 5px 0;
    }
    .cell-info .pt2-col {
        font-size: 12px;
    }
    .part-2-holder > .p2h-item:nth-child(2) {
        margin: 30px 0;
    }
    .help-bannner img:last-child {
        position: absolute;
        top: -50px;
        right: -14px;
    }
    .part-2-holder .p2h-item:nth-child(1) {
        margin: 20px 0;
    }
    .part-2-holder .p2h-item:nth-child(1) img {
        height: 80px;
        width: auto;
    }
    .pt2-row h4 {
        font-size: 14px;
    }
    .cmnt-button-section {
        flex-flow: column;
    }

    .cmnt-section .cmnt-row.mg5:nth-child(2) .cmnt-col {
        width: 50%;
    }
    .cmnt-button {
        margin: 5px 0;
    }

    .rating-star-holder img {
        height: 10px !important;
        width: auto;
    }
    .qr-row:nth-child(2) {
        height: auto;
    }
    .mt4-tab-keys {
        flex-flow: column;
    }
    .mt4-tab-keys .key-item {
        border-top-left-radius: 0;
        border-bottom-right-radius: 20px;
    }
  
}
