.mt4-body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}
.mt4-cover {
    width: 100%;
    height: 300px;
    position: relative;
    background-color: var(--light-green-fill);
}

.cv-bg-layer {
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
}
.header-info-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}
.header-info-holder > * {
    /* margin: 10px 0; */
}
.cv-gray-line {
    width: 400px;
    border-top: 2px solid #707070;
}
.cv-row {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
}
.cv-col:first-child {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
}
.cv-col:last-child {
    /* width: 30%; */
}
.cv-row {
    padding-top: 20px;
    padding-bottom: 20px;
}




/* acr section */

.acr-col:first-child {
    width: 100%;
}
.mt4-acr {
    max-width: 405px;
    height: auto;
    padding: 0;
    background-color: white;
    -webkit-box-shadow: 0 0 5px 1px #cccccc;
    box-shadow: 0 0 5px 1px #cccccc;
    border-radius: 20px;
    overflow: hidden;
    top: 50px;
    margin: 30px 0;
}
.mt4-acr > * {
    padding: 20px;
}
.acr-content {
    background-color: #f4f4f4;
    font-size: 14px;
}
.mt4-acr .is-active-link::before {
    display: none;
}
.acr-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
}
.acr-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.acr-col:first-child {
    font-size: 18px;
    font-weight: bold;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.acr-col:last-child {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.acr-col:last-child img {
    height: 80%;
    width: auto;
    cursor: pointer;
    -webkit-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
    transition: 0.3s all linear;
}
.acr-key {
    height: 65px;
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: center; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
.acr-key .acr-col:first-child {
    font-size: 14px;
    font-weight: normal;
}
/* acr section end */

/* Mt4 integreted styles */

.main-content-section {
    margin-top: -300px;
    z-index: 10;
}

.shadow-section {
    -webkit-box-shadow: 0 1px 5px 0px #ccc;
    box-shadow: 0 1px 5px 0px #ccc;
}
.pd20 {
    padding: 20px;
}
.light-green-section {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--light-green-fill);
}

.cvw-search-holder:first-child {
    margin-bottom: 10px;
}

/* Quote rating */
.more-rating-button-holder {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.more-rating-button {
    padding: 10px 40px;
    border: 2px solid var(--light-gray);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: black;
    background-color: white;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}
/* Quote rating end */



/* Sidebar 3 */
.sc3 .sidebar-row:nth-child(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    padding: 0;
    overflow: hidden;
}
.sc3 .sidebar-row:nth-child(1) > * {
    padding: 20px;
}
.sc3 .sidebar-row:nth-child(1) .list-header {
    background-color: white;
    padding: 15px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.sidebar-row .list-items {
    background-color: var(--light-green-fill);
}

.sc3 .sidebar-row:nth-child(1) .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 20px;
    margin: 0 30px;
}
.sc3 .sidebar-row:nth-child(1) .list:not(:last-child) {
    border-bottom: 2px solid var(--green-fill);
}
/* Sidebar 3 end */

/* Mt5 sidebar 1 */
.adrs-title,
.adres-title {
    color: var(--dark-green-fill);
    font-size: 18px;
}
.peoples-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.peoples-holder img {
    height: 50px;
    width: auto;
    margin: 0 2px;
}

/* mt5 sidebar 1 end */

/* Section 2 */
.mt4-cover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(-100% - 100px);
    height: 400px;
    width: 100%;
    z-index: 0;
    background-color: var(--light-green-fill);
}
.sc2 {
    background-color: var(--light-green-fill);
    margin-top: -50px;
    padding-bottom: 50px;
    z-index: 0;
}
.sc2-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.sc2-col:nth-child(1) {
    font-size: 36px;
    font-weight: bold;
    color: black;
}

.sc2-item {
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    height: 100%;
    width: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}
.sc-sub-title {
    font-size: 14px;
    color: var(--light-gray);
}
/* Section 2 end */
.sidebar-row {
    margin: 10px 5px;
    padding: 20px;
}
/* Sponsor rating section */
.sr-row {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.sr-item {
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.sr-item > * {
    margin: 5px 0;
}

.sr-item > img {
    height: 80px;
    width: auto;
}
.sr-item .rating-point-holder img {
    height: 15px;
    width: auto;
    margin: 0 5px;
}
.sr-item .rating-point-holder {
    display: flex;
}
/* Sponsor rating section end */

/* Section 4 */
.sc4 {
    padding: 80px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

/* Section 4 end */
.ordered-li-indicator {
    height: 35px;
    min-width: 35px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--green-fill);
    margin-right: 15px;
    font-weight: bold;
}
.sc4{
    margin-bottom: 0!important;
}

blockquote {
    background-color: var(--light-green-fill);
    border-left: 4px solid var(--dark-green-fill);
    margin: 0;
}
.section-row:nth-child(1) {
    justify-content: flex-start;
    font-size: 0.9em;
    padding: 30px;
}
.sidebar-row:nth-child(1) {
    font-size: 0.9em;
}

.sidebar-row:first-child .mt4-input-group {
    padding: 2px;
}
.sidebar-row:first-child .mt4-input-group input {
    margin: 0 2px;
}
.sc2-item h2 {
    color: var(--dark-green-fill);
    font-weight: bold;
}
.list-title {
    font-weight: 500;
}

.menu ul:first-child ul {
    display: none;
}

.mt4-submit img,
.mt4-submit-green img,
.cvw-submit img {
    margin-left: 10px;
    height: 15px;
    width: auto;
}
@media screen and (max-width: 768px) {
    .footer-section .mt4-row.mt4-col-md-12 > .mt4-col-md-5 {
        margin-top: 10px;
    }
    .footer-end {
        height: 150px;
    }
    .footer-end .privacy-link {
        flex-flow: column;
        margin: 0;
    }
    .footer-end .privacy-link a {
        white-space: nowrap;
    }
    .part-2-holder {
        flex-flow: column;
    }
    .header-row.part-2 {
        height: 320px;
    }
    .header-row.part-1 {
        height: auto;
    }
    .part-1-holder {
        flex-flow: column;
        align-items: flex-start;
        padding-right: 5vw;
        padding-right: 20px 0;
    }
    .p1h-item {
        margin: 10px 0;
    }
    .quote-rating p {
        max-width: 90%;
    }
    .qr-row {
        justify-content: flex-start !important;
        align-items: flex-start;
    }
    .contact-tab > .mt4-col-md-5 {
        width: 100%;
        border: 0;
        border-bottom: 2px solid var(--green-fill);
        border-bottom-left-radius: 20px;
    }
    .rating-section .rating-ico {
        flex: 16.66%;
    }
    .green-bubble {
        flex: 100%;
    }
    .address-row {
        width: 100%;
    }
    .key-item {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .bi-col:nth-child(1),
    .bi-col:nth-child(3) {
        margin: 0 !important;
    }
    .bio-col:nth-child(2) {
        width: 70vw;
    }
    .pricing-list {
        flex-flow: column;
    }
    .price-item {
        margin: 10px 0;
    }

    .sc2 {
        padding-right: 0;
        padding-left: 0;
    }
    .sc2-col:nth-child(2) {
        display: flex;
        flex-flow: column;
    }
    .sr-item .rating-point-holder img {
        margin: 0;
    }
    .sc4 {
        padding: 0;
        padding-top: 80px;
    }

    .cell-info {
        flex-flow: column;
        align-items: flex-start;
        padding: 5px 0;
    }
    .cell-info .pt2-col {
        font-size: 12px;
    }
    .part-2-holder > .p2h-item:nth-child(2) {
        margin: 30px 0;
    }
    .help-bannner img:last-child {
        position: absolute;
        top: -50px;
        right: -14px;
    }
    .part-2-holder .p2h-item:nth-child(1) {
        margin: 20px 0;
    }
    .part-2-holder .p2h-item:nth-child(1) img {
        height: 80px;
        width: auto;
    }
    .pt2-row h4 {
        font-size: 14px;
    }
    .cmnt-button-section {
        flex-flow: column;
    }

    .cmnt-section .cmnt-row.mg5:nth-child(2) .cmnt-col {
        width: 50%;
    }
    .cmnt-button {
        margin: 5px 0;
    }
}
