:root {
    --common-green: #5bba6f;
    --common-transition: all 0.3s linear;
}
.cp-admin {
    width: 98%;
}

.cp-admin-body {
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px grey;
    box-shadow: 0px 0px 5px grey;
    min-height: 85vh;
    margin: 20px 20px 20px 5px;
}
.cp-admin-body > * {
    width: calc(100% - 40px);
    padding: 20px;
}
.cp-admin-body > *:not(:last-child) {
    border-bottom: 1px dashed #ccc;
}
.uploader {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.uploader > div {
    background-color: white;
}
.shad {
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    cursor: pointer;
    display: inline-block;
}
.shad:hover {
    z-index: 1000;
    -webkit-box-shadow: 0 0 6px rgb(35 173 255) !important;
    box-shadow: 0 0 6px rgb(35 173 255) !important;
    -webkit-box-shadow: 0 0 6px rgb(91, 223, 91) !important;
    box-shadow: 0 0 6px rgb(91, 223, 91) !important;
    border: none;
}
/* 
.uploader input[type="file"] {
    display: none !important;
} */
.uploader h2 {
    margin-top: 0;
}
/* Loader */
.loader {
    display: none;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid rgb(103, 221, 118);
    width: 25px;
    height: 25px;
    -webkit-animation: spin 1000ms linear infinite; /* Safari */
    animation: spin 1000ms linear infinite;
    margin-right: 20px;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loader.is-loading {
    display: inline-block;
}

/* Co
}


/* Ripple effect */
.ripple {
    position: relative;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow: hidden;
}
.ripple:after {
    content: "";
    background: rgb(103, 221, 118);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -40px !important;
    margin-top: -120%;
    opacity: 0;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.ripple:active:after {
    border-radius: 50%;
    padding: 0;
    margin: 0;
    opacity: 0.5;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}
.checkboxes {
    align-items: flex-start;
}
.checkboxes label {
    vertical-align: top;
}

.lbl {
    display: inline-block;
}

/* Comparrot toggle button */
.cp-toggle {
    border: 1px solid rgb(103, 221, 118);
    border-radius: 2px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    margin-right: 10px;
    user-select: none;
    position: relative;
    overflow: hidden;
}
.cp-toggle:hover {
    color: rgb(91, 223, 91);
    background-color: white;
    border-radius: 2px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid rgb(103, 221, 118);
}
.cp-toggle .toggle-item {
    display: inline-block;
    color: rgb(103, 221, 118);
    padding: 9px 14px;
    height: 100%;
}
.cp-toggle .toggle-item.active-toggle {
    transition: all 600ms;
    background-color: rgb(103, 221, 118);
    color: white;
}

.toggle-wrapper {
    display: inline-block;
}
.toggle-wrapper h5 {
    margin: 5px 0;
}

/* Success or error */
.comparrot-success,
.comparrot-failed {
    padding: 10px !important;
    margin: 0;
}

.comparrot-success {
    border: 1px solid #ccc;
    border-left: 3px solid green;
}

.comparrot-failed {
    border: 1px solid #ccc;
    border-left: 3px solid red;
}

.comparrot-imported-thumbnail {
    height: 80px;
    width: auto;
}

.cp-admin .wp-list-table tr td {
    vertical-align: middle;
}

/* Help part */
.cp-admin-help-shadow {
    position: absolute;
    width: calc(100% - 15rem);
    height: calc(100vh - 10rem);
    top: 5rem;
    z-index: 1000;
    box-shadow: 0 0 1000px black;
    left: 7.5rem;
    right: 7.5rem;
    bottom: 5rem;
    background-color: white;
    overflow-y: hidden;
    transform: scaleX(0);
}
.cp-admin-help {
    display: inline-block;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    position: relative;
    padding: 20px;
    overflow-y: auto;
}
.cp-admin-help::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.cp-admin-help::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-bottom-left-radius: 50px;
}

/* Handle */
.cp-admin-help::-webkit-scrollbar-thumb {
    background: rgb(91, 223, 91);
}

/* Handle on hover */
.cp-admin-help::-webkit-scrollbar-thumb:hover {
    background: rgb(91, 223, 91);
}

.lightbox-hide,
.lightbox-show,
.lightbox-show .cp-admin-help,
.lightbox-hide .cp-admin-help {
    transition: all 400ms;
}
.lightbox-show {
    /* display: inline-block; */
    transform: scaleX(1);
}

.lightbox-hide {
    transform: scaleX(0);
    /* display: none; */
}

.close-button {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 20px;
    width: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close-button:hover {
    background-color: rgb(255, 89, 89);
}

.csv-format-table th,
.csv-format-table td {
    padding: 5px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}
.csv-format-table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
}

.csv-format-table tr th:nth-child(1) {
    text-align: left;
}
.cp-admin-ul {
    list-style: disc;
    margin-left: 50px;
}

.cp-admin-body .wp-list-table tfoot {
    display: none;
}
.cp-admin-body .no-items-imported {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    font-family: Candara;
    font-size: 1.5em;
}

/* Schema fields */
.comparrot-form-table [type="color"] {
    border: none;
    height: 50px;
    width: 100px;
    cursor: pointer;
}

.settings-spinner {
    float: left !important;
}

/* Theme related */
.comparrot-normal-form-table,
.comparrot-normal-form-table td {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
}
.comparrot-normal-form-table input,
.comparrot-normal-form-table select {
    width: 200px !important;
}
.comparrot-normal-form-table td > * {
    width: 100%;
}

.logo-selector-holder {
    height: 80px;
    width: auto;
    max-width: 300px;
    border: 1px dashed gray;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.logo-selector-holder img[src=""] {
    display: none;
}

.logo-selector-holder img {
    height: 100%;
    width: auto;
}
.logo-selector-holder:hover .logo-selector {
    top: 0;
}

.logo-selector {
    position: absolute;
    display: flex;
    top: -100%;
    transition: all 0.3s ease-in-out;
    height: 100%;
    width: 100%;
    background-color: rgba(158, 158, 158, 0.418);
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.comparrot-schema-form .form-table input[type="color"] {
    border: none;
    height: 40px;
    width: 150px;
    cursor: pointer;
}

/* Logs */
.upload-log .tablenav,
.skipped-log .tablenav {
    display: none;
}

.edit-page-merge-field-list .form-table td > * {
    width: 100%;
}

.cp-button:not(:last-child) {
    margin-right: 8px;
}
.cp-button i {
    margin-right: 8px;
}

.re-generate-btn.rotating i {
    animation-name: rotate_i;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes rotate_i {
    0% {
        transform: rotate(0deg);
    }

    /* 50% {
        transform: rotate(90deg);
    } */

    100% {
        transform: rotate(360deg);
    }
}
